@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
body{
    font-family: 'Jura';
    background-color: #030e12;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

header {
    background-color: #05161f;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_image{
    margin-left: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #05161f;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    font-size: 30px;
    border-radius: 5px;
}

nav a.active {
    font-weight: bold;
  }

  nav ul li {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 50px;
    transition: 500ms;
}

nav a:hover{
    text-shadow: 0 0 5px white;
}

section{
    padding: 55px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.main_page_title{
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
}

.main_title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
}

.main_text{
    max-width: 800px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    padding-right: 85px;
}

.main_img{
    width: 650px;
    height: 650px;
    border-radius: 50px;
}

.satellite_title{
    padding: 20px;
    margin: 20px;
    border-bottom: 2px solid #071f2c;
    color: #ffffff;
    text-align: center;
    font-size: 44px;
}

.satellite_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.satellite_crard {
    width: 320px;
    padding: 50px;
    margin: 75px;
    box-shadow: 10px 40px 50px rgba(221, 221, 221, 0.11);
    border-radius: 20px;
    background-color: #05161f;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    transition: 500ms;
}

.card_image{
    display: flex;
    align-items: center;
    width: 320px;
    height: 320px;
    border-radius: 20px;
}

.satellite_crard h3{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 25px;
}

.satellite_crard p{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.satellite_crard:hover{
    background-color: #071e2b;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    box-shadow: 10px 40px 50px rgba(238, 238, 238, 0.267);
}

.video {
    padding: 3.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
  }
  .video_top {
    color: #ffffff;
    font-size: 25px;
    border-bottom: 2px solid #071f2c;
    padding: 1.1rem;
    margin-bottom: 40px;
  }
  .video_content iframe {
  border-radius: 50px;
  max-width: 100%;
  max-width: 100%;
  min-width: 550px;
  }

  footer {
    padding: 56px;
    background-color: #05161f;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    color: #ffffff;
    font-weight: 300;
    font-size: 28px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.footer_left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.footer_left p {
    margin: 20px 0;
}

.footer_logo {
    display: flex;
    align-items: center;
    text-indent: 10px;
}

.footer_right {
    display: flex;
}

.footer_list {
    padding: 0.6rem;
    margin: 10px;
}

.footer_list p {
    font-weight: bold;
    padding: 1.1rem 0;
}

.footer_list ul {
    list-style: none;
    transition: 300ms;
}

.footer_list ul li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0.8rem 1.1rem;
    padding-left: 0;
    text-decoration: none;
    
}

.footer_list ul a:hover{
    text-shadow: 0 0 5px white;
}

@media only screen and (max-width: 1020px) {

    header {
        font-size: 20px;
    }

    nav ul {
        align-items: center;
        flex-direction: column; 
        font-size: 24px;
    }

    nav ul li {
        margin: 10px 0; 
    }

    .main_page_title {
        font-size: 36px; 
    }

    .main_title {
        font-size: 24px;
    }

    .container {
        flex-direction: column; 
    }

    .main_text {
        padding-right: 0;
        padding-bottom: 20px; 
        font-size: 20px;
    }

    .main_img {
        width: 100%; 
        height: auto; 
        border-radius: 30px;
    }

    .satellite_content {
        flex-direction: column;
        align-items: center;
    }

    .satellite_crard {
        width: 500Px;
        padding: 30px;
        margin: 20px;
    }

    .card_image {
        width: 100%;
        height: auto;
    }

    .video_content iframe {
        width: 500px;
        height: 250px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-size: 22px;
    }

    .footer_left, .footer_right {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer_right {
        display: block;
    }
}

@media only screen and (max-width: 480px) {

    header {
        font-size: 18px;
        padding: 15px;
    }

    .main_page_title {
        font-size: 36px;
    }

    .main_title {
        font-size: 20px;
    }

    .main_text {
        font-size: 18px;
    }

    .satellite_crard h3 {
        font-size: 20px;
    }

    .satellite_crard p {
        font-size: 16px;
    }

    .video_top {
        font-size: 20px;
    }

    footer {
        font-size: 20px;
    }
}